
body{ 
 height: 100%;
 margin: 0;
 background-image: url("https://unsplash.com/photos/6DD9FJYj0Vo");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
	height: 100%;
	width: 100%;
	margin:auto;
	/*background-color: orange;*/
	text-align: center;
	background-image: url("https://unsplash.com/photos/6DD9FJYj0Vo");
	  background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.game-well{
	background-color: #333;
	height: 400px;
	width: 400px;
	margin: auto;
	border-width: 15px;
	border-style: solid;
	border-color: #333;
	border-radius: 100%;
	display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /*justify-content is used to align items in the container horizontally*/
  justify-content: space-around;
  /*align-items is used to align items in the container vertically*/
  align-items: center;
}

.game-well>button{
	width: 45%;
	height: 45%;
	cursor:pointer;
	-webkit-appearance: none;
	box-sizing: border-box;
}

.disable-clicks{
 pointer-events:none
}

.green{
	background-color: #00a74a;
	border-top-left-radius: 100%;
}
.green.light, .green:active{
	background-color:#04f870;
}

.red{
	background-color: #ff0001;
	border-top-right-radius: 100%;
}
.red.light, .red:active{
	background-color:#ff4c4c;
}

.blue{
	background-color: #094a8f;
	border-bottom-right-radius: 100%;
}
.blue.light, .blue:active{
	background-color: #0e80f8;
}

.yellow{
	background-color: #cca707;
	border-bottom-left-radius: 100%;
}

.yellow.light, .yellow:active{
	background-color: #ffd108;
}

button{
	cursor:pointer;
	border: 0 !important;
	-webkit-appearance: none;
}

button:focus{
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0;
}


